{% extends "ls/base.html" %}
{% block content %}

<div class="main-container">
  <div class="list">
    <h1>These are all our customers</h1>
    <a href="/ls">Back to Main</a><br><br> 

    <form method="get" action="{% url 'ls:customer_list' %}">
      <div class="search-input">{{ form.as_p }}</div> 
      <button type="submit" id="search-button">Search</button>
    </form>

    {% for customer in page_obj %}
      <div class="customer">
        <a href="/ls/{{ customer.pk }}">{{ customer.name }} {{ customer.surname }}</a><br>
        Phone: {{ customer.phone }} <br>
        <hr>
      </div>
    {% endfor %}


    <div class="pagination">
      <span class="step-links">
    
        {% for i in page_obj.paginator.page_range %}
          {% if page_obj.number == i %}
            <span class="current">{{ i }}</span>
          {% else %}
            <a href="?page={{ i }}">{{ i }}</a>
          {% endif %}
        {% endfor %}
      </span>
    </div>
    
    

  </div>
</div> 
{% endblock %}




